svg {background-color: #f0f0f0;}
		   
.title {
  font-size: 30px;
  font-family: "Georgia";}

.subtitle {
  font-size: 18px;
  font-family: "Georgia";}

.caption {
  font-size: 12px;
  font-family: "Georgia";} 

.label {
  font-size: 14px;
  font-family: "Georgia";}
  
.legend {
  font-size: 12px;
  font-family: "Georgia";}  